* {
    font-family: "Nunito", Arial, sans-serif;
}

body {
    max-width: 40em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    padding: 0 1rem;
}

a {
    color: #3771c8;
}

a:hover {
    color: #274f8c;
}
